/* global variables */
:root {
    --bg_colour: white;
    --main_green: #57CC99;
    --select: #48B89F;
    --button: #C7F9CC;
    --button_select: #80ED99;
}

/* set font */
html * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    text-align: center;
    padding-top: 10px;
}


/*style blocks */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the container takes at least the full viewport height */
    margin: 0; /* Remove default margin to prevent unwanted space */
}

header {
    position: fixed;
    top: 0;
    background-color: var(--main_green) !important;
    width: 100%;
    box-sizing: border-box;
}

main {
    flex: 4;/* Allow main content to grow and take up remaining space */
    background-color: var(--bg_colour);
    padding: 20px;
    padding-top: 150px;
    padding-bottom: 100px;
    box-sizing: border-box;
}

footer {
    background-color: var(--main_green);
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

/* Styling for Navbar */

.navbar {
    background-color: var(--main_green) !important;
    overflow: hidden;
}

.nav_list {
    list-style: none;
    margin: 0;
    padding: 0;

}

.nav_list li {
    float: right;

}

.nav_list li a {
    display: block;
    color: var(--bg_colour) !important;
    text-align: center;
    padding: 10px 10px;

}

/* change colour when selected */

.nav_list li a:hover{
    background-color: var(--select) !important;

}

/* Creating navbar for home, sign up and login buttons */

.home_logo {
    padding: 10px 10px 10px 10px;
}

.log_reg {
    background-color: var(--button) !important;
    list-style: none;
    margin: 0;
    padding: 0;
}

.log_reg li {
    float: left;
}

.log_reg li a {
    display: block;
    color: var(--bg_colour) !important;
    text-align: center;
    padding: 10px 10px;
}

/* change colour when selected */
.log_reg li a:hover {
    background-color: var(--button_select) !important;
}

/* Styling for footer */

.footerbar {
    background-color: var(--main_green);
    width: 100%;
    padding: 10px !important;
    position: fixed;
    bottom: 0;
    text-align: center;
    overflow: hidden
}

.footer-links {
    list-style: none;
    margin: 0;
    padding: 0;

}

.footer-links li {
    display: inline-block;
    margin: 10px;
}

.footer-links li a {
    color: var(--bg_colour);
}

/* Styling for home page */

.home-content {
    text-align: center !important;
}

/* styling cart content */
.cart-content {
    text-align: center;
    margin: 0 auto !important;
}

li {
    list-style: none;
}

/* Styling for about page */

.about-content {
    text-align: center;
}

.about-content h2 {
    text-align: center !important;
}

.about-content img {
    align-self: center;
    width: 50%;
    height: 50%;
}


/* Styling for contact page */

.contact-content, .contact-info {
    text-align: center !important;
}

/* Styling for forms */
.form-content {
    max-width: 500px;
    margin: 0 auto !important; /* this centers the form */
    padding: 10px;
    background-color: var(--bg_colour);
}

.form-group {
    padding: 10px;
}

/* set label size so input fields align */
.form-group label {
    display: inline-block;
    width: 200px;
}

.form-group input {
    padding: 0px;
}

/* Product Page styling */

.product-content {
    display: flex;
    flex-direction: column; /*display content one after the other in column order */
    align-content: center;
    max-width: 1350px;
    margin: 0 auto !important;
}

/* this is were you edit the styling of the list of products */
.product-list {
    display: flex;
    flex-direction: column;
    flex-wrap: 450px;
    justify-content: center;
    align-items: center; /*align at top of container */
    gap: 10px;
    margin: 0 auto !important;
}

/*this is were you style each individual product */
.single-product {
    display: flex;
    flex-direction: column; /*display content one after the other in column order */
    flex-wrap: wrap;
    align-items: center;
    border: 2px dashed #48B89F;
}

.single-product h3 {
    margin: 10px 0;
}

.single-product p {
    margin: 10px 0;
}

.single-product img{
    width:300px;
    max-height:250px ;
    margin: 0;
    padding: 10px;
}
/* button styling */

button {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--button);
    color: var(--main_green);
    padding: 10px 5px;
}

button:hover {
    background-color: var(--button_select);
    color: var(--bg_colour);
}