{% extends "base.html" %}

{% block content %}
<div class="about-content">
    <h2> About Us </h2>
    <p> Hello! Thank you for wanting to learn more about us and our mission </p>
    <p>Founded in 2023, we're a small business hoping to bring the wonders and benefits of plants into anyone's space.</p>
    <br>
    <hr>
    <br>
    <h3> Our Team </h3>
    <p>We are a group of plant lovers who are committed to curating the best selection of plants for you. <br>
    Our team is always here to help you choose the perfect plants for your space and provide care tips.</p>
    <img src="static/images/team.png" alt="Team photo">
    <br>
    <hr>
    <br>
    <h3> Our Values </h3>
    <p>We are committed to sustainability and responsible sourcing. <br> We work with local growers to bring you healthy,
    well-cared-for plants. <br> Our packaging is eco-friendly, and we aim to minimize our carbon footprint.</p>
    <img src="static/images/values.png" alt="photo of potted plants">

</div>
{% endblock %}