<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/stylesheets/style1.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    </head>

    <body>
        <header>
            <nav class="navbar">
                <ul class = "nav_list">
                    <li><a href = "{{url_for('home')}}"> Home </a></li>
                    <li><a href="{{url_for('products')}}"> Home </a></li>
                    <li><a href="{{url_for('categories')}}"> Home </a></li>
                    <li><a href="{{url_for('order_history')}}"> Home </a></li>
                    <li><a href="{{url_for('cart')}}"> Home </a></li>
                </ul>

            </nav>

        </header>
        <main>
            {% block content %}

            {% endblock %}
        </main>
        <footer>

        </footer>

    </body>

</html>