{% extends "base.html" %}

{% block content %}
    <div class="payment-content">
        <h2> Payment </h2>
        <div class="form-content">
            <form method="POST" action="">
                {{form.hidden_tag()}}
                <div class="form-group">
                    {{form.cardholders_name.label}}
                    {{form.cardholders_name}}
                </div>
                <div class="form-group">
                    {{form.cardnumber.label}}
                    {{form.cardnumber}}
                </div>
                <div class="form-group">
                    {{form.expire.label}}
                    {{form.expire}}
                </div>
                <div class="form-group">
                    {{form.SC.label}}
                    {{form.SC}}
                </div>
                <div class="form-group">
                <button type="submit"> Test Payment </button>
                </div>
                {{message}}
            </form>
        </div>
    </div>
{% endblock %}