{% extends "base.html" %}

{% block content %}
    <div class="payment-content">
        <h2> Payment </h2>
        <div class="form-content">
            <form action="{{url_for('payment')}}" method="get">
                <div class="form-group">
                    <label for="cardholder_name"><strong> Cardholder's Name: </label>
                    <input type="text" id="cardholder_name" name="cardholder_name" title="Enter the cardholder's name">
                </div>
                <div class="form-group">
                    <label for="cardnumber"><strong> Card Number: </label>
                    <input type="text" id="cardnumber" name="cardnumber" title="Enter the 16 digit card number">
                </div>
                <div class="form-group">
                    <label for="expire">Expiry Date: </label>
                    <input type="text" id="expire" name="expire" title="Enter the expiry date in MM/YYYY format">
                </div>
                <div class="form-group">
                    <label for="SC">Security Code (CVC): </label>
                    <input type="text" id="SC" name="SC" title="Enter the Security Code (CVC)">
                </div>
                <div class="form-group">
                <button type="submit"> Test Payment </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}